<nav class="navbar sticky-top navbar-light">
    <div class="container center">
        <a class="navbar-brand" href="/">
            <h1>Store</h1>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">estiben@gmail.com.co</span>
    </div>
</footer>
<a class="btn btn-primary" [routerLink]="['/product']" id="product-add-button" href="#" role="button">Add</a>